<div class="container">
  <div id="rpsls"></div>

  <script type="text/jsx" src="scripts/rpsls-react.jsx"></script>
  <script src="https://fb.me/react-0.13.3.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
</div>
